/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MAIN>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background-image: url(../IMAGES/mainimg1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.nav-container {
    display: flex;
    gap: 40px;
    margin-right: 40px;
    margin-top: 15px;
    list-style: none ;
}

li{
    list-style: none;
}

li > a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}
h4 {
    margin: 0 auto;
    justify-self: center;
    align-self: flex-end;
    font-size: 10px;
    color: white;
}
.section1 {
    width: 100%;
    height: 100vh;
    background-color: #D7FCD4;
}

.section2 {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #D7FCD4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

}

.part1 {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    /* background-color: aqua; */
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<TEXT>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
hr{
    width: 70%;
    margin: 0 auto;
}
h1 {
    font-size: 56px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 900;
    color: white;
    padding: 0 0 0 10%;
    line-height: 1.7;
    align-self: center;
}

p {
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.7;
    width: 60%;
    margin: 0 20%;
    /* padding: 45px 0 0 0; */
    margin-top: 20px;

}
strong{
    color: #e85d04;
    font-weight: bold;
}
h3 {
    font-size: 17px;
    font-family: 'Bodoni Moda', serif;
    margin: 0 40%;
    padding: 0% 0 0% 0;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<IMAGES>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.section1>img {
    width: 350px;
    margin-left: 460px;
}

.website {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e85d04;
    width: 40%;
    height: 100%;
}
.a1 {
    font-size: 26px;
    text-decoration: none;
    color:white;
}
.a2{
    font-size: 26px;
    text-decoration: none;
    color: white;
}
/* <<<<<<<<<<<color: #f4433<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<OTHER>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: red; */
    
}
html{
    background-color: #D7FCD4;
}
.box1 {
    /* background-color: blue; */
    display: flex;
    width: 100%;
    height: 600px;
    /* border: 2px solid black; */
};
.box3 {
    flex-direction: row-reverse;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<ANIMATIONS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  */

/* Container for skill bars */
.container {
    width: 100%;
    background-color: red;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {
    background-color: #04AA6D;
    color: black;
}

.css {
    background-color: #2196F3;
    color: black;
}

.box1{
    background-color: #f44336;
}

.js {
    background-color: red;
    color: black;
}

.box2{
    background-color: blue;
}
.box2 {
    width: 50%;
    margin: 0 5% 0 5%;
}
.html1{
 width: 57.4%;
}
.css1{
 width: 42.6%;
}
.js1{
 width: 0%;
}
.html2{
 width: 60.1%;
}
.css2{
 width: 39.9%;
}
.js2{
width: 0%;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<ANIMATIONS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.boxed1{
    border: 2px solid green;
    width: 620px;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    animation: slideInLeft 14s;
}
.boxed2{
    border: 2px solid #80b918;
    width: 620px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInRight 14s;
}
.boxed3{
    border: 2px solid green;
    width: 620px;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    animation: slideInLeft 14s;
}

.boxed1 > a {
    color: green;
    font-size: 30px;
}

.boxed2 > a {
    color: #80b918;
    font-size: 30px;
}
.boxed3 > a {
    color: green;
    font-size: 30px;
}

/* .list-item hover */
.list-item:hover {
    border: 2px solid whitesmoke;
    color: white;
}
/* .spa text hover */
/* change the size of individual letters on hover */
.spa:hover {
    /* underline */
    text-decoration: underline;
    font-size: 70px;
}
@media only screen and (max-width: 425px){
	
}