@font-face {
    font-family: "Humane";
    src: url(./Fonts/Humane-Bold.otf);
}
.main{
    width: 100%;
    height: 97.5vh;
    /* margin: 40px; */
    /* padding: 40px; */
    border: 4px solid #000;
    box-sizing: border-box;
}

.container{
    width: 70%;
    height: 70%;
    margin:auto;
    margin-top: 1%;
    border: 4px solid #000;
    background-image: url(/p4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: "Humane";
    font-size: 4em;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
}

